include README.md NOTICE.txt LICENSE.txt ChangeLog
include Makefile *.mk
include run-tests.sh

recursive-include fastavro *.py *.pyx *.pxd *.pxi *.c
recursive-include tests *.py *.pyx *.c
recursive-include tests/avro-files *.avro
recursive-include docs *.py *.rst Makefile
